<nav id=bs-navbar class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li @(ViewBag.PageTitle == "Text preprocessing" ? "class=active" : "")> <a href="~/Home/TextPreprocessing">Text preprocessing</a> </li>
        <li @(ViewBag.PageTitle == "Classification" ? "class=active" : "")> <a href="#">Classification</a> </li>
        <li @(ViewBag.PageTitle == "Clustering" ? "class=active" : "")> <a href="#">Clustering</a> </li>
        <li @(ViewBag.PageTitle == "Other" ? "class=active" : "")> <a href="#">Other</a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href='@ViewBag.GitHubBaseUrl'>Fork it on GitHub</a></li>
    </ul>
</nav>
